            {%- macro pagination_page(pagination, endpoint) %}
            <div class="am-pagination blog-pagination">
                <li{% if not pagination.has_prev %} class="am-pagination-prev am-disabled"{% endif %}>
                    <a href="{% if pagination.has_prev %}{{ url_for(endpoint, page = pagination.page - 1, **kwargs) }}{% else %}#{% endif %}">上一页</a>
                </li>
                <li{% if not pagination.has_next %} class="am-pagination-next am-disabled"{% else %} class="am-pagination-next"{% endif %}>
                    <a href="{% if pagination.has_next %}{{ url_for(endpoint, page = pagination.page + 1, **kwargs) }}{% else %}#{% endif %}">下一页</a>
                </li>
            </div>
            {%- endmacro %}